/* Full viewport height and width */
html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
#status {
  font-size: 24px;
  margin-top: 20px;
}
.online {
  olor: green;
}
.offline {
  color: red;
}
